.htaccess
.htaccess.orig
wp-snapshots/*
old.git/*
wp-content/*
wp-content/mu-plugins/*
wp-content/mu-plugins/
wp-content/mu-plugins/gd-system-plugin.php
!wp-content/plugins/
!wp-content/themes/
.DS_Store
gd-config.php
wp-admin/
wp-includes/
wp-*.php
!wp-config.php
index.php
gd-config.php